@import "tailwindcss";

/* =========================
   Custom Fonts
========================= */
@font-face {
  font-family: "CaptureIt";
  src: url("/fonts/capture-it/Capture-it.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "CaptureIt", serif;
}

/* =========================
   CSS Variables
========================= */
:root {
  --font-capture: "CaptureIt", serif;
  --font-roboto: "Roboto", system-ui, sans-serif;
  --font-ui: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  --background: #ffffff;
  --foreground: #434343;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #434343;
    --foreground: #ededed;
  }
}

/* =========================
   Base Styles
========================= */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

form {
  font-family: var(--font-capture);
}

header, footer, section {
  font-family: var(--font-capture);
}

/* =========================
   Font Utility Classes
========================= */
.font-capture {
  font-family: var(--font-capture);
}

.font-roboto {
  font-family: var(--font-roboto);
}

.font-ui {
  font-family: var(--font-ui);
}

.card-body {
  font-family: var(--font-roboto);
}

/* Carousel */

/* White navigation arrows */
.weapon-swiper .swiper-button-next,
.weapon-swiper .swiper-button-prev {
  color: white !important;
  z-index: 50;
}

.weapon-swiper .swiper-button-next::after,
.weapon-swiper .swiper-button-prev::after {
  font-size: 28px;
}

/* Move pagination below content */
.weapon-swiper .swiper-pagination {
  position: relative !important;
  margin-top: 30px;
}

/* White pagination bullets */
.weapon-swiper .swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
}

.weapon-swiper .swiper-pagination-bullet-active {
  opacity: 1;
}
